#saurabh{
  height: 50px;
  width: 50px;
  color: black;
  background-color: skyblue;
  background-image: url(IMG_20230212_182253_740.jpg);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;


}